style.
	.sg-section{
		margin-top: 20px;
		margin-bottom: 40px;
	}

	.sg-title{
		margin-bottom: 20px;
		font-size: 26px;
		border-bottom: 4px solid #DDD;
		padding-bottom: 6px;
	}

	.sg-subtitle{
		margin-top: 30px;
		margin-bottom: 12px;
		font-size: 20px;
	}

	pre{
		border-radius: 8px;
		background-color: #333;
		color: #FFF;
		overflow: auto;
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 12px;
		font-size: 14px;
		font-family: san-serif;
	}