<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="format-detection" content="telephone=no,address=no,email=no")
		meta#viewport(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="stylesheet" type="text/css" href="../css/reset.css")
		link(rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="../css/reset.css")
		link(rel="stylesheet" type="text/css" href="../css/plugin.css")
		link(rel="stylesheet" type="text/css" href="../css/layout.css")
		include _style
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="../js/plugin.js")
		script(src="../js/script.js")
		script(src="../js/options.js")
		title ページのスタイルガイド
	body
		.wrapper
			section.rows.sg-section
				header: h2.title.sg-title 基本スタイル
				p こちらには文章が入ります
				a(href="") リンクのスタイル
				p その他見出しのスタイルは、適宜設定してください。
			section.rows.sg-section
				header: h2.title.sg-title レイアウト
				p 基本の枠組みは下記のように記述してください
				.wrapper(style="background-color: #DDD")
					.rows
						p ここにグリッドレイアウト等、コンテンツが入ります。
				pre
					:code
						<div class="wrapper">
						    <div class="rows">
						        <p>ここにグリッドレイアウト等、コンテンツが入ります。</p>
						    </div>
						</div>
				h3.sg-subtitle カラムがある場合
				.wrapper(style="background-color: #DDD")
					.rows
						.cols.col-6(style="background-color: #EFEFEF"): p ここにグリッドレイアウト等、コンテンツが入ります。
						.cols.col-6(style="background-color: #EFEFEF"): p ここにグリッドレイアウト等、コンテンツが入ります。
				pre
					:code
						<div class="wrapper">
						    <div class="rows">
						        <div class="cols col-6 col-blockname">カラム1のコンテンツ</div>
						        <div class="cols col-6 col-blockname">カラム2のコンテンツ</div>
						    </div>
						</div>
			section.rows.sg-section
				header: h2.title.sg-title タイトル
				h2.title タイトル
			section.rows.sg-section
				header: h2.title.sg-title リードテキスト
				p.lead リード文が入ります
			section.rows.sg-section
				header: h2.title.sg-title 画像
				.rows
					h3.sg-subtitle 丸加工
					img(src="https://placehold.jp/150x150.png", alt="").image-circle
				.rows
					h3.sg-subtitle 角丸加工
					img(src="https://placehold.jp/150x150.png", alt="").image-radius
				.rows
					h3.sg-subtitle 左へ回り込み
					img(src="https://placehold.jp/150x150.png", alt="").image-left
					p テキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプル
				.rows
					h3.sg-subtitle 右へ回り込み
					img(src="https://placehold.jp/150x150.png", alt="").image-right
					p テキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプル
			section.rows.sg-section
				header: h2.title.sg-title ボタン
				a.button(href="") ボタンテキスト
			section.rows.sg-section
				header: h2.title.sg-title テーブル
				table.table
					tr
						th 見出し1
						th 見出し2
						th 見出し3
					tr
						td コンテンツ1
						td コンテンツ2
						td コンテンツ3
					tr
						td コンテンツ1
						td コンテンツ2
						td コンテンツ3
			section.rows.sg-section
				header: h2.title.sg-title フォーム
				table.table.table-form
					tr
						th テキスト入力（短）
						td: input(type="text").input-short
					tr
						th テキスト入力（中）
						td: input(type="text").input-medium
					tr
						th テキスト入力（長）
						td: input(type="text").input-long
					tr
						th テキスト入力（full）
						td: input(type="text").input-full
					tr
						th
							span.label-required
							|テキスト入力（必須）
						td: input(type="text").input-full.input-required
					tr
						th セレクトボックス
						td
							select.input-long
								option 選択1
								option 選択2
								option 選択3
					tr
						th ラジオボタン 
						td
							ul.list-radio.list-inline-form
								li
									input(type="radio" name="ラジオボタン")#radio1
									label(for="radio1") ラジオボタン選択1
								li
									input(type="radio" name="ラジオボタン")#radio2
									label(for="radio2") ラジオボタン選択2
								li
									input(type="radio" name="ラジオボタン")#radio3
									label(for="radio3") ラジオボタン選択3
					tr
						th ラジオボタン（必須）
						td
							ul.list-radio.list-inline-form.group-required
								li
									input(type="radio" name="ラジオボタン")#radio11
									label(for="radio11") ラジオボタン選択1
								li
									input(type="radio" name="ラジオボタン")#radio12
									label(for="radio12") ラジオボタン選択2
								li
									input(type="radio" name="ラジオボタン")#radio13
									label(for="radio13") ラジオボタン選択3
					tr
						th チェックボックス 
						td
							ul.list-checkbox.list-inline-form
								li
									input(type="checkbox" name="チェックボックス")#check1
									label(for="check1") チェックボックス選択1
								li
									input(type="checkbox" name="チェックボックス")#check2
									label(for="check2") チェックボックス選択2
								li
									input(type="checkbox" name="チェックボックス")#check3
									label(for="check3") チェックボックス選択3
					tr
						th チェックボックス（必須）
						td
							ul.list-checkbox.list-inline-form.group-required
								li
									input(type="checkbox" name="チェックボックス")#check11
									label(for="check11") チェックボックス選択1
								li
									input(type="checkbox" name="チェックボックス")#check12
									label(for="check12") チェックボックス選択2
								li
									input(type="checkbox" name="チェックボックス")#check13
									label(for="check13") チェックボックス選択3
				.form-footer
					button.button.button-submit 送信