//- 入力エラー
mixin clipmail-error
	.wrapper.cm-wrapper
		.rows.cm-rows
			h3 入力エラー
			#v-form-workflow
				ol.v-workflow
					li.active
						span.v-cell
							span.v-text 1.入力
					li.active
						span.v-cell
							span.v-text 2.確認
					li
						span.v-cell
							span.v-text 3.完了
			p 入力内容に誤りがあります。<br>前画面に戻って正しく入力してください。
			dl.cm-dl
				// cell_begin 
				dt !key!
				dd !val!
				// cell_end 
			form.area-confirm.error
				button.cm-button.button-large(type="button" onclick="history.back()") « 前画面にもどる

//- 確認画面
mixin clipmail-confirm
	.wrapper.cm-wrapper
		.rows.cm-rows
			h3 入力確認画面
			#v-form-workflow
				ol.v-workflow
					li.active
						span.v-cell
							span.v-text 1.入力
					li.active
						span.v-cell
							span.v-text 2.確認
					li
						span.v-cell
							span.v-text 3.完了
			p 以下の内容でよろしければ送信ボタンを押して下さい。 
			dl.cm-dl
				// cell_begin 
				dt !key!
				dd !val!
				// cell_end 
			form.area-confirm.conf(action='!mail_cgi!' method='post')
				// hidden 
				ul.cm-list-bottom
					li.cm-item-main
						button.cm-button.button-large(type='submit') 上記内容で送信
							i.fa.fa-angle-double-right
					li.cm-item-sub
						button.cm-button.button-medium(type='button' onclick='history.back()') 
							i.fa.fa-angle-double-left
							|前画面にもどる
						

//- 送信完了
mixin clipmail-thanks(formTitle)
	.wrapper.cm-wrapper
		.rows.cm-rows
			h3 送信完了
			#v-form-workflow
				ol.v-workflow
					li.active
						span.v-cell
							span.v-text 1.入力
					li.active
						span.v-cell
							span.v-text 2.確認
					li.active
						span.v-cell
							span.v-text 3.完了
			.cm-area-thanks
				p.cm-lead #{formTitle}が完了いたしました。<br>翌営業日中に、ご回答させていただきますのでしばらくお待ちください。
				p お客様のメールアドレス宛てに、自動返信メールを送信しました。
				p もし、2分程度経っても自動返信メールが届かない場合は、<br>入力されたメールアドレスに誤りがある可能性があります。
				p その場合は、お手数ですがお問い合せ願います。
				form.area-confirm.submit
					button.cm-button.button-large(type='button', onclick="window.open('!back!','_top')")
						i.fa.fa-angle-double-left
						|トップに戻る