//- clipmailの遷移画面のurlリスト
mixin debug-clipmail(path)
	if general.debug
		.debug-panel
			h3.title Clipmailページ
			ul
				li: a(href="/cgi-bin/#{path}-clipmail/tmpl/conf.html") 確認画面
				li: a(href="/cgi-bin/#{path}-clipmail/tmpl/error.html") エラー
				li: a(href="/cgi-bin/#{path}-clipmail/tmpl/conf.html") 送信完了

mixin debug-wp(path, themeName, categoryPage, archivePage, singlePage)
	if general.debug
		.debug-panel
			h3.title Wordpress ページ
			ul
				li: a(href="/#{path}/wp-content/themes/#{themeName}/index.html") トップページ
				if categoryPage
					li: a(href="/#{path}/wp-content/themes/#{themeName}/category.html") カテゴリページ
				if archivePage
					li: a(href="/#{path}/wp-content/themes/#{themeName}/archive.html") アーカイブページ
				if singlePage
					li: a(href="/#{path}/wp-content/themes/#{themeName}/single.html") 個別記事