//- テキスト（１行）
mixin input-text(name, placeholder, required, className)
	- var classes = [];
	if required
		- classes.push('input-required');
	if className
		- classes.push(className);
	input(name=name, type="text" class=classes, placeholder=placeholder)

//- 電話
mixin input-tel(name, placeholder, required, className)
	- var classes = [];
	if required
		- classes.push('input-required');
	if className
		- classes.push(className);
	input(name=name, type="tel" class=classes, placeholder=placeholder)

//- メールアドレス
mixin input-email(className)
	input(name="_email", type="email" class='input-required ' + className, placeholder='例）yamada@example.com')

//- セレクトボックス
mixin select(name, values, required, className, defaultVal)
	- var classes = [];
	if required
		- classes.push('input-required');
	if className
		- classes.push(className);
	select(name=name, class=classes)
		if defaultVal
			option(value='') 選択してください
		for val in values
			option(value=val)=val

//- 都道府県選択
mixin input-pref(name, required, className, defaultVal)
	- var classes = [];
	if required
		- classes.push('input-required');
	if className
		- classes.push(className);
	select.input-short(name=name, class=classes)
		if defaultVal
			option(value="") 選択して下さい
		for val in ['北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県','滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県']
			if val === '鳥取県'
				option(value=val, selected)=val
			else
				option(value=val)=val

//- チェックボックスリスト
mixin checkbox-group(groupName, values, required, empty, checked, idName, className)
	- var classes = ['list-checkbox'];
	if required
		- classes.push('group-required');
	if className
		- classes.push(className);
	ul(class=classes)
		for val, index in values
			li.item-checkbox
				if index == 0
					input(id="#{idName}#{index + 1}" type="checkbox", name=groupName, value=empty ? '' : val, checked=checked ? 'checked' : false)
				else
					input(id="#{idName}#{index + 1}" type="checkbox", name=groupName, value=val)
				label(for="#{idName}#{index + 1}")=val

//- ラジオボタンリスト
mixin radio-group(groupName, values, required, empty, checked, idName, className)
	- var classes = ['list-radio'];
	if required
		- classes.push('group-required');
	if className
		- classes.push(className);
	ul(class=classes)
		for val, index in values
			li.item-radio
				if index == 0
					input(id="#{idName}#{index + 1}" type="radio", name=groupName, value=empty ? '' : val, checked=checked ? 'checked' : false)
				else
					input(id="#{idName}#{index + 1}" type="radio", name=groupName, value=val)
				label(for="#{idName}#{index + 1}")=val

//- Clipmail用hidden
//- 2つの入力内容が同一かをチェック（半角スペースで指定）
//- name値の並び順を指定（半角スペースで指定）
mixin input-sort(value)
	input(type="hidden" name="sort" value=value)

//- 二つのフォームの比較（半角スペースで2つ以上指定）
mixin input-match(value)
	input(type="hidden" name="match" value=value)

//- 入力必須項目を強制指定する（半角スペースで指定）
mixin input-need(value)
	input(type="hidden" name="need" value=value)
