//- パンくず
mixin breadcrumb(list, link)
	.area-pankuzu
		.wrapper.wrapper-pankuzu
			ul.list-pankuzu
				- for(var i = 0; i < list.length; i++) {
					- if(i === list.length-1) {
						li !{list[i]}
					- } else {;
						li
							a(href!="#{link[i]}") !{list[i]}
					- };
				- };

//- ソーシャルボタン
mixin social-area(url, text)
	// Twitter 
	a(href='https://twitter.com/share?url=#{url}t=#{text}').button-twitter-default
		img(src='/misc/icon_twitter.png', alt='シェアする')
	
	// Facebook 
	div.fb-like(data-href=url, data-layout="button_count", data-action="like", data-show-faces="false", data-share="true")
	script.
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.3&appId=130104273750250";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

	// LINE 
	span.button-line-default
		script(type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411")
		script(type="text/javascript").
			new media_line_me.LineButton({"pc":true,"lang":"ja","type":"a"});

	// メールで送る 
	a(href="mailto:?subject=#{text}&body=#{url}").button-mail-default
		img(src="/misc/social_mail.gif" alt="メールで送る" width="82")
