@charset "utf-8";

// デバイスの毎の非表示設定
//------------------------------------------------
.hide-all{display: none;}
.hide-pc{@include bp(pc){display: none;}}
.hide-sp{@include bp(sp){display: none;}}

// ディスプレイのプロパティ
//------------------------------------------------
.block{display: block;}
.inline-block{display: inline-block;}