@charset "utf-8";

// 余白
//------------------------------------------------

@for $i from 0 through 3 {
	@include bp(pc){
  	.mg-#{$i} {
  	  margin:#{$i}em;
  	}
  	.pd-#{$i} {
  	  padding:#{$i}em;
  	}
	}
	@include bp(sp){
  	.mg-#{$i}-sp {
  	  margin:#{$i}em;
  	}
  	.pd-#{$i}-sp {
  	  padding:#{$i}em;
  	}
	}
}

// 上下または左右の余白
//------------------------------------------------

@for $i from 1 through 5 {
	@include bp(pc){
	  .mgx-#{$i} {
	    margin-left:#{$i}em;
	    margin-right:#{$i}em;
	  }
	  .mgy-#{$i} {
	    margin-top:#{$i}em;
	    margin-bottom:#{$i}em;
	  }
	  .pdx-#{$i} {
	    padding-left:#{$i}em;
	    padding-right:#{$i}em;
	  }
	  .pdy-#{$i} {
	    padding-top:#{$i}em;
	    padding-bottom:#{$i}em;
	  }
  }
	@include bp(sp){
	  .mgx-#{$i}-sp {
	    margin-left:#{$i}em;
	    margin-right:#{$i}em;
	  }
	  .mgy-#{$i}-sp {
	    margin-top:#{$i}em;
	    margin-bottom:#{$i}em;
	  }
	  .pdx-#{$i}-sp {
	    padding-left:#{$i}em;
	    padding-right:#{$i}em;
	  }
	  .pdy-#{$i}-sp {
	    padding-top:#{$i}em;
	    padding-bottom:#{$i}em;
	  }
  }
}

// 上下左右それぞれの余白
//------------------------------------------------

@for $i from 0 through 7 {
	@include bp(pc){
  	.mgt-#{$i} {
  	  margin-top:#{$i}em;
  	}
  	.mgr-#{$i} {
  	  margin-right:#{$i}em;
  	}
  	.mgb-#{$i} {
  	  margin-bottom:#{$i}em;
  	}
  	.mgl-#{$i} {
  	  margin-left:#{$i}em;
  	}
  	.pdt-#{$i} {
  	  padding-top:#{$i}em;
  	}
  	.pdr-#{$i} {
  	  padding-right:#{$i}em;
  	}
  	.pdb-#{$i} {
  	  padding-bottom:#{$i}em;
  	}
  	.pdl-#{$i} {
  	  padding-left:#{$i}em;
  	}
	}
	@include bp(sp){
  	.mgt-#{$i}-sp {
  	  margin-top:#{$i}em;
  	}
  	.mgr-#{$i}-sp {
  	  margin-right:#{$i}em;
  	}
  	.mgb-#{$i}-sp {
  	  margin-bottom:#{$i}em;
  	}
  	.mgl-#{$i}-sp {
  	  margin-left:#{$i}em;
  	}
  	.pdt-#{$i}-sp {
  	  padding-top:#{$i}em;
  	}
  	.pdr-#{$i}-sp {
  	  padding-right:#{$i}em;
  	}
  	.pdb-#{$i}-sp {
  	  padding-bottom:#{$i}em;
  	}
  	.pdl-#{$i}-sp {
  	  padding-left:#{$i}em;
  	}
	}
}