@charset "utf-8";

//テキストの水平位置
//------------------------------------------------
.tac{text-align: center;}
.tar{text-align: right;}
.ta{text-align: left!important;}

@include bp(pc){
	.tac-pc{text-align: center;}
	.tar-pc{text-align: right;}
	.ta-pc{text-align: left!important;}
}

@include bp(sp){
	.tac-sp{text-align: center;}
	.tar-sp{text-align: right;}
	.ta-sp{text-align: left!important;}
}