@charset "utf-8";

.button{
	display: inline-block;
	background-color: transparent;
	border: none;
	padding: 12px 35px;
	cursor: pointer;
	font-family: inherit;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	background-color: #EFEFEF;
	color: #111;
}

.button-submit{
	background-color: color(submit);
	font-size: 16px;
	color: #FFF;
	@include bp(pc){
		font-size: 22px;
		min-width: 520px;
	}
	@include bp(sp){
		width: 100%;
	}
	&:hover{
		background-color: lighten(color(submit), 5);
	}
}