@charset "utf-8";

.image-circle{
	border-radius: 50%;
}

.image-radius{
	border-radius: 10px;
}

.image-left{
  margin-right: 12px;
  margin-bottom: 10px;
  float: left;
}

.image-right{
  margin-bottom: 10px;
  margin-left: 12px;
  float: right;
}

// 画像の大きさ
//------------------------------------------------
.image-center-sp{
  @include bp(sp){
    display: block;
    margin: auto;
    margin-bottom: 1em;
  }
}

// 画像の大きさ
//------------------------------------------------
@include bp(sp){
  .image-small-sp{
      width: 100px;
   }
  .image-medium-sp{
      width: 140px;
   }
  .image-large-sp{
      width: 280px;
   }
}
