@charset "utf-8";

.table{
	margin-bottom: 1.5em;
	width: 100%;
	@include bp(sp){
		margin-bottom: 0.8em;
	}
	th{
		text-align: left;
	}
	th,td{
		padding: 12px;
		vertical-align: top;
	}
}

////////////////////////////////
// From Table
////////////////////////////////

.table-form{
	width: 100%;
	tr{
		@include bp(pc){
			border-top: 1px solid #DDD;
			border-bottom: 1px solid #DDD;
		}
	}
	th,td{
		padding: 12px;
		vertical-align: top;
		@include bp(sp){
			display: block;
		}
	}
	th{
		text-align: left;
		@include bp(pc){
			padding-top: 12px + 10px;
			width: 17em;
			background-color: #EFEFEF;
		}
		@include bp(sp){
			background-color: #EFEFEF;
		}
	}
	td{
		@include bp(sp){
			padding-left: 0;
			padding-right: 0;
		}
	}
}
