@charset "utf-8";

// テキストのクラス
//------------------------------------------------

.lead{
	font-size: 1.2em;
	line-height: 1.3;
	margin-bottom: 12px;
}

.text-required{
	color: color(error);
	margin-left: 1em;
}