@charset "utf-8";

//トップへ戻る
//------------------------------------------------
#totop{
	position: fixed;
	z-index: 10000;
	bottom: 15px;
	right: 15px;
	display: none;
	i{
		color: #FFF;
		background-color: color(primary);
		font-size: 40px;
		line-height: 40px;
		height: 40px;
		width: 40px;
		text-align: center;
		border-radius:50%;
		position: relative;
		border: 2px solid #FFF;
		&:before{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -13px;
			margin-top: -22px;
		}
	}
}