//content grid
@mixin grid-content($content-width,$grid-number,$gap-y,$gap-x){
	@include cf;
	width: $content-width;
	float: left;
	margin-left: $gap-y;
	margin-top: $gap-x;
	margin-bottom: $gap-x;
		&:first-child{
			margin-left: 0;
		}
		&:nth-child(#{$grid-number}n+1){
			margin-left: 0;
			clear: both;
		}
}

//fluid layout
@mixin grid-width($col-width){
	width: $col-width / $wide * 100%;
}

//fluid layout margin
@mixin grid-gap($col-gap:35px,$gap-direction:right){
	margin-#{$gap-direction}: $col-gap / $wide * 100%;
}

@mixin margin($pc,$sp,$direction:bottom){
	@include bp(pc){
		margin-#{$direction}:$pc;
	}
	@include bp(sp){
		margin-#{$direction}:$sp;
	}
}

@mixin margin-vertical($y:0){
	margin-top: $y;
	margin-bottom: $y;
}

@mixin padding($pc,$sp,$direction:bottom){
	@include bp(pc){
		padding-#{$direction}:$pc;
	}
	@include bp(sp){
		padding-#{$direction}:$sp;
	}
}

@function grid($col,$row:$wide){
	@return round(($col / $row) * 100%);
}