//font mix
@mixin font-set($fs,$fc,$fw){
    font-size:$fs;
    color:$fc;
    font-weight: $fw;
}

//hiding text
@mixin hide-text{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

// font sizes
@mixin fz($pc,$sp){
    @include bp(pc){
        font-size: $pc;
    }
    @include bp(sp){
        font-size: $sp;
    }
}