@charset "utf-8";

body {
	font-family:$ja_go;
	font-size:$default_font_size;
	color:$default_color;
	background: $default_background;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	line-height: $default_line_height;
	@include bp(sp){
		font-size: $default_font_size_sp;
	}
}

a{
	text-decoration: underline;
	outline: none;
	color: $link_color;
	&:hover{
		text-decoration: none;
	}
}

p{
	margin-bottom: $default_line_height + em;
	font-size: $default_font_size;
	@include bp(sp){
		font-size: $default_font_size_sp;
	}
}

main{
	overflow: hidden;
	display: block;
}

strong{
	font-weight: 700;
}