@charset "utf-8";

//=====================================
// デフォルトの設定
//=====================================

// フォントサイズ
$default_font_size: 16px;
$default_font_size_sp: 13px;

// 背景
$default_background: #FFF;

// フォントカラー
$default_color: #111;

// テキストの行間
$default_line_height:1.5;

// リンクカラー
$link_color: #0099CC;

//=====================================
// カラーバリエーション
//=====================================

$color: (
	default:   #444,
	black:     #000,
	white:     #FFF,
	gray:      #CCC,
	primary:   #2979FF,
	secondary: #ccc,
	info:      #ccc,
	error:     #D90000,
	workflow:  #EFEFEF,
	wactive:   #000,
	submit:    #FF8000,
);

// カラーの取り出し
@function color($key) {
    @return map-get($color, $key);
}

//=====================================
// 見出し等のフォントサイズ
//=====================================

$fontSize: (
	default:     16px,
	default-sp:  13px,
	extra-small: 10px,
	small:       12px,
	semi-medium: 18px,
	medium:      22px,
	big:         30px,
	extra-big:   50px,
);

@function size($key) {
    @return map-get($fontSize, $key);
}

//=====================================
// レイアウトの幅、高さ
//=====================================

//PC basic width
$wide:1190px;

//Mobile Margin
$wide-sp:12px;

//SP header height
$header-height-sp:67px;

//=====================================
// パス・イメージ
//=====================================
@import "images";

//=====================================
// 使用フォント
//=====================================

$ja_go:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$ja_yu:'游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$ja_min: 'Times New Roman','ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', '游明朝' , 'Yu Mincho' , '游明朝体' , 'YuMincho', 'HG明朝B', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;
$ja_maru: 'ヒラギノ丸ゴ Pro W4','Hiragino maru Gothic Pro','HG丸ｺﾞｼｯｸM-PRO','Verdana','Osaka',sans-serif;
$oswald: 'Oswald', sans-serif;

//=====================================
// ボーダー
//=====================================
$border:(
	default: 1px solid #ccc,
);

@function border($key) {
    @return map-get($border, $key);
}

//=====================================
// シャドウ
//=====================================
$shadow1: 0px 2px 2px 0px rgba(0,0,0,0.35);