extends /tmpl/_layout
block vars
	- var label = form.contact
block dwTmpl
	<!-- InstanceBegin template="/Templates/form.dwt" codeOutsideHTMLIsLocked="false" -->
block title
	title 入力の確認（#{label.title}） - #{general.pageTitle}
block contents
	include _prepend
	+clipmail-confirm
	include _append