extends /tmpl/_layout
block vars
	- var label = form.contact
block dwTmpl
	<!-- InstanceBegin template="/Templates/form.dwt" codeOutsideHTMLIsLocked="false" -->
block title
	title エラー（#{label.title}） - #{general.pageTitle}
block contents
	include _prepend
	+clipmail-error
	include _append