- var label = form.contact
|ホームページからの#{label.requirement}がありました。
|翌日中に回答する必要があります。
| 
|お客様へは、自動返信メールが送信されました。
| 
|────────────────────────────
|▼送信内容
|────────────────────────────
| 
|!message!
| 
|!{signature}
| 
|------------------------------------------------------------
|送信日時 : !date!
|ブラウザ : !agent!
|ホスト名 : !host!
|------------------------------------------------------------

