- var label = form.contact
|#{label.company}に#{label.requirement}を頂き
|誠にありがとうございます。
| 
|当メールは自動返信メールとなっております。
|______＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿
| 
|下記の内容で受付ました。
| 
|翌日中に回答させていただきますので、
|もうしばらくお待ち願います。
| 
|【送信日時】
|!date!
| 
|【送信内容】
|!message!
| 
|!{signature}