extends /tmpl/_layout
block vars
	- var label = form.contact
block dwTmpl
	<!-- InstanceBegin template="/Templates/form.dwt" codeOutsideHTMLIsLocked="false" -->
block title
	title 送信完了（#{label.title}） - #{general.pageTitle}
block contents
	include _prepend
	+clipmail-thanks('お問い合せの送信')
	include _append