@charset "utf-8";

.cols{
	padding-top: 12px;
	padding-bottom: 12px;
	float: left;
	box-sizing: border-box;
	@include bp(pc){
		padding-left: 20px;
		padding-right: 20px;
	}
	@include bp(sp){
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	&.alpha{
		@include bp(pc){
			float: left;
			margin-left: 0;
		}
	}
	&.omega{
		@include bp(pc){
			float: right;
		}
	}
	&:first-child{
		@include bp(pc){
			margin-left: 0;
		}
	}

	&.col-full-sp{
		@include bp(sp){
			padding-left: 0;
			padding-right: 0;
		}
	}
}

@for $i from 1 through 12 {
  .col-#{$i} {
      width: ($i / 12) * 100%;
  }
}

@include bp(pc){
	@for $i from 1 through 12 {
	  .col-#{$i}-pc {
	      width: ($i / 12) * 100%;
	  }
	}
}

@include bp(sp){
	@for $i from 1 through 12 {
	  .col-#{$i}-sp {
	      width: ($i / 12) * 100%;
	  }
	}
}
