@charset "utf-8";

.rows{
	@include cf;
	&.offset-sp{
		@include bp(sp){
			margin-left: -12px;
			margin-right: -12px;
		}
	}
}

.row-table{
	@include bp(pc){
		display: table;
	}
}

.row-thin{
	@include bp(pc){
		@include margin-vertical(25px);
	}
	@include bp(sp){
		@include margin-vertical(12px);
	}
}

.row-medium{
	@include bp(pc){
		@include margin-vertical(45px);
	}
	@include bp(sp){
		@include margin-vertical(12px);
	}
}

.row-heavy{
	@include bp(pc){
		@include margin-vertical(75px);
	}
	@include bp(sp){
		@include margin-vertical(12px);
	}
}

.row-page-single{
	@include bp(pc){
		padding-left: 80px;
		padding-right: 80px;
	}
}