// Google Tag Manager
script.
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','#{common.tagId}');
// End Google Tag Manager
meta(charset=common.encode)
meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="format-detection" content="telephone=no,address=no,email=no")
meta#viewport(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
if label === top || label === tmplTop
	meta(name="description" content=common.description)
link(rel="stylesheet" type="text/css" href="#{label.depth + path.css}reset.css")
link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
link(rel="stylesheet" type="text/css" href="#{label.depth + path.css}plugin.css")
link(rel="stylesheet" type="text/css" href="#{label.depth + path.css}layout.css")
if label === top || label === tmplTop
	link(rel="stylesheet" type="text/css" href="#{label.depth + path.css}page_top.css")
else if label === tmplPage || label === tmplBlog || label === tmplForm
	link(rel="stylesheet" type="text/css" href="@@(_document['css'])@@")
else
	link(rel="stylesheet" type="text/css" href=label.depth + path.css + label.css)
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(src="#{label.depth + path.js}plugin.js")
script(src="#{label.depth + path.js}script.js")
script(src="#{label.depth + path.js}options.js")