@charset "utf-8";

// メディアクエリの設定
//------------------------------------------------

@mixin bp($point){
	@if $point == sp{
		@media only screen and (max-width: 740px){
		@content;
		}
	}
	@else if $point == pc{
		@media print, screen and (min-width: 741px){
		@content;
		}
	}
}