@charset "utf-8";

#v-form-workflow{
	margin: 25px 0;
	.v-title-workflow{
		@include fz(25px,22px);
		margin: 0.8em 0;
	}
	.v-workflow{
		margin: 0.5em 0;
		background-color: color(workflow);
		overflow: hidden;
		@include bp(pc){
			font-size: 22px;
			border-radius: 6px;
		}
		li{
			display: table;
			position: relative;
			width: 33.333%;
			float: left;
			box-sizing: border-box;
			white-space: nowrap;
			@include bp(pc){
				height: 63px;
				padding: 15px;
			}
			@include bp(sp){
				padding: 6px;
				font-size: 11px;
				height: 30px;
			}
			&.active{
				background-color: color(wactive);
				color: #FFF;
				&:after{
					background-color: color(wactive);
				}
			}
			&:not(:last-child){
				&:after{
					content: "";
					position: absolute;
					right: -22px;
					top: 50%;
					margin-top: -28px;
					width: 55px;
					height: 55px;
					transform: rotate(45deg);
					border-right:2px solid #FFF;
					border-top:2px solid #FFF;
					box-sizing: border-box;
					z-index: 10;
				}
			}
			&:nth-child(n+2){
				padding-left: 45px;
			}
			&:first-child{
				@include bp(sp){
					width: 24%;
				}
			}
		}
		.v-cell{
			display: table-cell;
			vertical-align: middle;
		}
		.v-text{
			position: relative;
			z-index: 20;
			display: block;
		}
	}
}