block vars
	- var label = top
block conds
	if label == top
		- var bodyId = 'top'
	else
		- var bodyId = 'next'
block includes
	include /modules/_mixin
block html
	doctype
	html
		block dwTmpl
			<!-- InstanceBegin template="/Templates/#{label.tmpl}.dwt" codeOutsideHTMLIsLocked="false" -->
		head
			include /modules/_head
			// InstanceBeginEditable name="doctitle" 
			block title
				if label === top
					title=common.siteName
				else
					title #{label.title} - #{general.pageTitle}
			// InstanceEndEditable 
			unless label === top
				<!-- InstanceParam name="bodyClass" type="text" value="#{label.bodyClass}" -->
				<!-- InstanceParam name="css" type="text" value="#{label.depth + path.css + label.css}" -->
		body(id=bodyId, class=label.bodyClass)
			// Google Tag Manager (noscript)
			noscript: iframe(src='https://www.googletagmanager.com/ns.html?id=#{common.tagId}', height='0', width='0', style='display:none;visibility:hidden')
			// End Google Tag Manager (noscript)
			block header
				include /modules/_header
			main
				// InstanceBeginEditable name="main" 
				block contents
					p ここにページの内容が入ります
				// InstanceEndEditable 
			block footer
				include /modules/_footer
		// InstanceEnd 