block vars
	- var label = tmplTop
block conds
	if label == tmplTop
		- var bodyId = 'top'
	else
		- var bodyId = 'next'
block includes
	include /modules/_mixin
block html
	if label == tmplTop
		- var bodyClassTmpl = 'page_top';
	else
		- var bodyClassTmpl = "@@(_document['bodyClass'])@@";
	doctype
	html
		head
			include /modules/_head
			// TemplateBeginEditable name="doctitle" 
			block title
				if label === tmplTop
					title=common.siteName
				else
					title ページ名 - #{general.pageTitle}
			// TemplateEndEditable
			unless label === tmplTop
				// TemplateParam name="bodyClass" type="text" value="page_name" 
				// TemplateParam name="css" type="text" value="../css/page_name.css"
		body(id=bodyId, class=bodyClassTmpl)
			// Google Tag Manager (noscript)
			noscript: iframe(src='https://www.googletagmanager.com/ns.html?id=#{common.tagId}', height='0', width='0', style='display:none;visibility:hidden')
			// End Google Tag Manager (noscript)
			block header
				include /modules/_header
			main
				// TemplateBeginEditable name="main" 
				block contents
					p ここにコンテンツが入ります
				// TemplateEndEditable 
			block footer
				include /modules/_footer